<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="currentUser">
  <div class="container">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">HOME</a>
    </div>
    <div class="navbar-nav float-right">
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

<!-- main content container -->
<main>
  <div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="container text-center">
  © 2020 SujanMaharjan.com
</footer>
